@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shippori+Mincho&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  font-size: 15px;
  font-family: 'Zen Old Mincho', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.poppins {
  font-family: "Poppins", sans-serif;
}

.shippori-mincho {
  font-family: "Shippori Mincho", serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

// Animation Utilities

// Fade In Animation
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

// Slide Up Animation
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

// Slight Zoom In Animation
@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-zoom-in {
  animation: zoom-in 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

// Image zoom on hover
.zoom-on-hover {
  overflow: hidden;
}

.zoom-on-hover img {
  transition: transform 0.3s ease-in-out;
}

.zoom-on-hover:hover img {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: inherit;
}

.row-span-1\.5 {
  grid-row: span 1.5 / span 1.5;
}

// Responsive lg:row-span utilities for fractional values
@media (width >= 1024px) {
  .lg\:row-span-2 {
    grid-row: span 2 / span 2;
  }
}